body{
    font-family: "PT Serif", serif;
    margin: 0;
    padding: 0;
}

/* Css Header */
@media (min-width: 700px)
{
    #title_h1
    {
        font-size: 60px;
        font-weight: bold;
        letter-spacing:0.04rem;
        line-height:1.16;
    }
    #title_h5
    {
       margin-top: 25px;
       font-family: 'Poppins', sans-serif;
       font-size: 22px;
       font-weight: 300;
    
   
    }
    #title_btn
    {
        margin-top: 25px; 
        
        padding: 20px 51px!important;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: bold;
        border-radius: 45px;
        border-color:#f64a5f;
        background-color:#f64a5f;
    
        
    }
    #title_btn:hover
    {
        cursor: pointer;
        background-color:black;     
        border-color: black;   
    }    
}
@media (max-width: 700px)
{
    #title_h1
    {
        font-size: 30px;
        font-weight: bold;
        letter-spacing:0.04rem;
        line-height:1.16;
    }
    #tile_h5
    {
        margin-top: 25px;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 300;
    }
    #title_btn
    {
        margin-top: 25px; 
        
        padding: 20px 51px!important;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: bold;
        border-radius: 45px;
        border-color:#f64a5f;
        background-color:#f64a5f;
    
    }
    #title_btn:hover
    {
        cursor: pointer;
        background-color:black;     
        border-color: black;   
    }    
}
#header .header-container .nav-item
{
    font-size: 17px;
    font-weight: 400;
    letter-spacing:1px;
}
/* Css Header */

#title_content1{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 80px;
}

#content_1{    
    margin-top: 20px;      
    background-color: #f5f6fa;   
    padding-top: 40px;
    padding-bottom: 40px;      
}

#content1_left h4{       
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;        
    font-size: 29px;    
    letter-spacing:0.04rem;
    line-height:1.5;
}

#content1_left p{
    font-family: "Poppins", sans-serif;
    color: #7f8c8d;
}



#title_content2{
    font-weight: bold;
    font-size: 60px;
    margin-top: 100px;    
    text-align: center;
}

#content_2{
    margin-top: 50px;   
    margin-bottom: 100px; 
    background-image: url(../img/post4.jpg);
    background-position: center center;
    background-size: cover;
}


#view_all_btn{
    text-align: center
}

#content_2 .container{
    width: 808px;    
    min-height: 50px;
    margin: auto;
    padding: 0;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#content_2 .container .box{            
    margin: 2px;    
    width: 400px;
    height: auto;    
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
}

#content_2 .container .box .img-box{
    position: relative;
}

#content_2 .container .box .img-box img{
    max-width: 100%;
    transition: transform 2s;
}

#content_2 .container .box:hover .img-box img{
    transform: scale(1.2);
}

.btn-content-2{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;

    border: solid 2px #dfe6e9;    
    border-radius: 30px;

    padding: 10px 30px;

    margin-top: 50px;
    margin-bottom: 40px;

    color: black;
    background-color: transparent;
}

.btn-content-2:hover{
    border-color:transparent;    
    color: white;
    background-color: black;
}

#content_3{
    background-image: url('../img/bg5.jpg');
    padding: 50px;
    text-align: center;
}

#content_3_title{
    font-weight: bold;
    font-size: 60px;
    margin-top: 50px;    
    text-align: center;
}

.slide_img{        
    border-radius: 100%;        
    
    position: relative;
    top: 50%;
    left: 50%;  
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%)
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    margin-left: 150px;
    margin-bottom: 50px;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
     margin-right: 150px;
     margin-bottom: 50px;
   }

.info{
    text-align: center;
}

.btn-content-3{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;

    border: solid 2px transparent;   
    color: white;
    border-radius: 30px;

    padding: 10px 30px;

    margin-top: 20px;
    margin-bottom: 40px;
    
    background-color: #FC427B;
}

.btn-content-3:hover{   
    color: white; 
    background-color: black;
}

#content_4{
    background-color: white;
    padding: 50px;
    text-align: center;
}

#content_4_title{
    font-weight: bold;
    font-size: 60px;
    margin-top: 50px;  
    margin-bottom: 50px;  
    text-align: center;
}

#content_4 hr{
    border-width: 3px;
    width: 50px;
    border-color: grey;
}

.btn-content-4{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;

    border: solid 2px transparent;   
    color: black;
    border-radius: 30px;

    padding: 10px 30px;

    margin-top: 20px;
    margin-bottom: 40px;
    
    background-color: white;
}

.btn-content-4:hover{   
    color: white; 
    background-color: black;
}

/*Start Testimonial Source: https://bootsnipp.com/snippets/6X9om*/
.testimonial-section2{
    /*height: 600px;*/
    position: relative;
    padding: 50px 0;
    background-image:url(../img/bg5.jpg);
  }
  
  .testim .wrap {
      position: relative;
      width: 75%;
      max-width: 750px;
      padding: 40px 20px;
      margin: auto;
  }
  
  .testim .arrow {
      display: block;
      position: absolute;
      color: #757575;
      cursor: pointer;
      font-size: 2em;
      top: 20%;
     
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: all .3s ease-in-out;    
      -ms-transition: all .3s ease-in-out;    
      -moz-transition: all .3s ease-in-out;    
      -o-transition: all .3s ease-in-out;    
      transition: all .3s ease-in-out;
      padding: 5px;
      z-index: 22222222;
  }
  
  .testim .arrow:before {
      cursor: pointer;
  }
  
  .testim .arrow:hover {
    cursor: pointer;
      color: #DD0000;
  }
      
  
  .testim .arrow.left {
     left: 25%;
  }
  
  .testim .arrow.right {
    right: 25%;
  }
  
  .testim .dots {
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 60px;
      left: 0;
      display: block;
      z-index: 3333;
      height: 12px;
  }
  
  .testim .dots .dot {
      list-style-type: none;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid black;
      
      margin: 0 10px;
      cursor: pointer;
      -webkit-transition: all .5s ease-in-out;    
      -ms-transition: all .5s ease-in-out;    
      -moz-transition: all .5s ease-in-out;    
      -o-transition: all .5s ease-in-out;    
      transition: all .5s ease-in-out;
      position: relative;
  }
  
  .testim .dots .dot.active,
  .testim .dots .dot:hover {
    cursor: pointer;
      background: #DD0000;
      border-color: #DD0000;
  }
  
  .testim .dots .dot.active {
      -webkit-animation: testim-scale .5s ease-in-out forwards;   
      -moz-animation: testim-scale .5s ease-in-out forwards;   
      -ms-animation: testim-scale .5s ease-in-out forwards;   
      -o-animation: testim-scale .5s ease-in-out forwards;   
      animation: testim-scale .5s ease-in-out forwards;   
  }
      
  .testim .cont {
      position: relative;
      overflow: hidden;
  }
  
  .testim .cont > div {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 0 70px 0;
      opacity: 0;
  }
  
  .testim .cont > div.inactive {
      opacity: 1;
  }
      
  
  .testim .cont > div.active {
      position: relative;
      opacity: 1;
  }
      
  
  .testim .cont div .img img {
      display: block;
      width: 100px;
      height: 100px;
      margin: auto;
      border-radius: 50%;
  }
  
  .testim .cont div .h4 {
    font-family: 'PT Serif', serif;
    color: #f64a5f;
    font-weight: 700;
    font-size: 20px
  }
  
  .testim .cont div p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
        font-family: 'Poppins', sans-serif;
    letter-spacing: 0em;
    text-align: left;
    color: #757575;
  }
  
  .testim .cont div.active .img img {
      -webkit-animation: testim-show .5s ease-in-out forwards;            
      -moz-animation: testim-show .5s ease-in-out forwards;            
      -ms-animation: testim-show .5s ease-in-out forwards;            
      -o-animation: testim-show .5s ease-in-out forwards;            
      animation: testim-show .5s ease-in-out forwards;            
  }
  
  .testim .cont div.active .h4 {
      -webkit-animation: testim-content-in .4s ease-in-out forwards;    
      -moz-animation: testim-content-in .4s ease-in-out forwards;    
      -ms-animation: testim-content-in .4s ease-in-out forwards;    
      -o-animation: testim-content-in .4s ease-in-out forwards;    
      animation: testim-content-in .4s ease-in-out forwards;    
  }
  
  .testim .cont div.active p {
      -webkit-animation: testim-content-in .5s ease-in-out forwards;    
      -moz-animation: testim-content-in .5s ease-in-out forwards;    
      -ms-animation: testim-content-in .5s ease-in-out forwards;    
      -o-animation: testim-content-in .5s ease-in-out forwards;    
      animation: testim-content-in .5s ease-in-out forwards;    
  }
  
  .testim .cont div.inactive .img img {
      -webkit-animation: testim-hide .5s ease-in-out forwards;            
      -moz-animation: testim-hide .5s ease-in-out forwards;            
      -ms-animation: testim-hide .5s ease-in-out forwards;            
      -o-animation: testim-hide .5s ease-in-out forwards;            
      animation: testim-hide .5s ease-in-out forwards;            
  }
  
  .testim .cont div.inactive .h4 {
      -webkit-animation: testim-content-out .4s ease-in-out forwards;        
      -moz-animation: testim-content-out .4s ease-in-out forwards;        
      -ms-animation: testim-content-out .4s ease-in-out forwards;        
      -o-animation: testim-content-out .4s ease-in-out forwards;        
      animation: testim-content-out .4s ease-in-out forwards;        
  }
  
  .testim .cont div.inactive p {
      -webkit-animation: testim-content-out .5s ease-in-out forwards;    
      -moz-animation: testim-content-out .5s ease-in-out forwards;    
      -ms-animation: testim-content-out .5s ease-in-out forwards;    
      -o-animation: testim-content-out .5s ease-in-out forwards;    
      animation: testim-content-out .5s ease-in-out forwards;    
  }
  
  @-webkit-keyframes testim-scale {
      0% {
          -webkit-box-shadow: 0px 0px 0px 0px #eee;
          box-shadow: 0px 0px 0px 0px #eee;
      }
  
      35% {
          -webkit-box-shadow: 0px 0px 10px 5px #eee;        
          box-shadow: 0px 0px 10px 5px #eee;        
      }
  
      70% {
          -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-moz-keyframes testim-scale {
      0% {
          -moz-box-shadow: 0px 0px 0px 0px #eee;
          box-shadow: 0px 0px 0px 0px #eee;
      }
  
      35% {
          -moz-box-shadow: 0px 0px 10px 5px #eee;        
          box-shadow: 0px 0px 10px 5px #eee;        
      }
  
      70% {
          -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-ms-keyframes testim-scale {
      0% {
          -ms-box-shadow: 0px 0px 0px 0px #eee;
          box-shadow: 0px 0px 0px 0px #eee;
      }
  
      35% {
          -ms-box-shadow: 0px 0px 10px 5px #eee;        
          box-shadow: 0px 0px 10px 5px #eee;        
      }
  
      70% {
          -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-o-keyframes testim-scale {
      0% {
          -o-box-shadow: 0px 0px 0px 0px #eee;
          box-shadow: 0px 0px 0px 0px #eee;
      }
  
      35% {
          -o-box-shadow: 0px 0px 10px 5px #eee;        
          box-shadow: 0px 0px 10px 5px #eee;        
      }
  
      70% {
          -o-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -o-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @keyframes testim-scale {
      0% {
          box-shadow: 0px 0px 0px 0px #eee;
      }
  
      35% {
          box-shadow: 0px 0px 10px 5px #eee;        
      }
  
      70% {
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-webkit-keyframes testim-content-in {
      from {
          opacity: 0;
          -webkit-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -webkit-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-moz-keyframes testim-content-in {
      from {
          opacity: 0;
          -moz-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -moz-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-ms-keyframes testim-content-in {
      from {
          opacity: 0;
          -ms-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -ms-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-o-keyframes testim-content-in {
      from {
          opacity: 0;
          -o-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -o-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @keyframes testim-content-in {
      from {
          opacity: 0;
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          transform: translateY(0);        
      }
  }
  
  @-webkit-keyframes testim-content-out {
      from {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -webkit-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-moz-keyframes testim-content-out {
      from {
          opacity: 1;
          -moz-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -moz-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-ms-keyframes testim-content-out {
      from {
          opacity: 1;
          -ms-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -ms-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-o-keyframes testim-content-out {
      from {
          opacity: 1;
          -o-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @keyframes testim-content-out {
      from {
          opacity: 1;
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          transform: translateY(-100%);        
      }
  }
  
  @-webkit-keyframes testim-show {
      from {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -webkit-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-moz-keyframes testim-show {
      from {
          opacity: 0;
          -moz-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -moz-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-ms-keyframes testim-show {
      from {
          opacity: 0;
          -ms-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -ms-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-o-keyframes testim-show {
      from {
          opacity: 0;
          -o-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -o-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @keyframes testim-show {
      from {
          opacity: 0;
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          transform: scale(1);       
      }
  }
  
  @-webkit-keyframes testim-hide {
      from {
          opacity: 1;
          -webkit-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-moz-keyframes testim-hide {
      from {
          opacity: 1;
          -moz-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -moz-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-ms-keyframes testim-hide {
      from {
          opacity: 1;
          -ms-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -ms-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-o-keyframes testim-hide {
      from {
          opacity: 1;
          -o-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -o-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @keyframes testim-hide {
      from {
          opacity: 1;
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          transform: scale(0);
      }
  }
  
  @media all and (max-width: 300px) {
    body {
      font-size: 14px;
    }
  }
  
  @media all and (max-width: 500px) {
    .testim .arrow {
      font-size: 1.5em;
    }
    
    .testim .cont div p {
      line-height: 25px;
    }
  
  }

/*End Testimonial Source: https://bootsnipp.com/snippets/6X9om*/

/* Css Footer */
#footer .footer-container .col-md-4
{
    border-right: solid 1.4px gray;
}
#footer .footer-container .card-body p
{
    font-size: 0.875rem;
    line-height: 1.714285;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0em;
    text-align: left;
    color: #757575;
}
#footer .footer-container .col-md-4 .footer-container-content
{
    list-style-type: none;
}
#footer .footer-container .col-md-4 .footer-container-content li
{
    margin-top: 18px;
    color: #f64a5f;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
#footer .footer-container .col-md-4 .footer-container-content li i
{
    font-size: 1rem;
    margin-top: 5px;
    margin-right: 16px;
    min-width: 15px;
}
#footer .footer-container .col-md-4 .icon
{
    color: white;
    background-color: #F64A5F;
    border:  2px solid #F64A5F;
    padding: 15px 20px;
    border-radius: 50px;
    margin-right: 10px;
}
#footer .footer-container .col-md-4 .icon:hover
{
    cursor: pointer;
    background-color: black;
    border:  2px solid black;
}
/* Css Footer */
