html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
    font-family: "PT Serif", serif;
}

/* Header */

@media (min-width: 700px)
{
    #title_h1
    {
        font-size: 60px;
        font-weight: bold;
        letter-spacing:0.04rem;
        line-height:1.16;
    }
    #title_h5
    {
       margin-top: 25px;
       font-family: 'Poppins', sans-serif;
       font-size: 22px;
       font-weight: 300;
    
   
    }
    #title_btn
    {
        margin-top: 25px; 
        
        padding: 20px 51px!important;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: bold;
        border-radius: 45px;
        border-color:#f64a5f;
        background-color:#f64a5f;
    
        
    }
    #title_btn:hover
    {
        cursor: pointer;
        background-color:black;     
        border-color: black;   
    }    
}
@media (max-width: 700px)
{
    #title_h1
    {
        font-size: 30px;
        font-weight: bold;
        letter-spacing:0.04rem;
        line-height:1.16;
    }
    #tile_h5
    {
        margin-top: 25px;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 300;
    }
    #title_btn
    {
        margin-top: 25px; 
        
        padding: 20px 51px!important;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: bold;
        border-radius: 45px;
        border-color:#f64a5f;
        background-color:#f64a5f;
    
    }
    #title_btn:hover
    {
        cursor: pointer;
        background-color:black;     
        border-color: black;   
    }    
}
#header .header-container .nav-item
{
    font-size: 17px;
    font-weight: 400;
    letter-spacing:1px;
}

/* Footer */
#footer .footer-container .col-md-4
{
    border-right: solid 1.4px gray;
}
#footer .footer-container .card-body p
{
    font-size: 0.875rem;
    line-height: 1.714285;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0em;
    text-align: left;
    color: #757575;
}
#footer .footer-container .col-md-4 .footer-container-content
{
    list-style-type: none;
}
#footer .footer-container .col-md-4 .footer-container-content li
{
    margin-top: 18px;
    color: #f64a5f;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
#footer .footer-container .col-md-4 .footer-container-content li i
{
    font-size: 1rem;
    margin-top: 5px;
    margin-right: 16px;
    min-width: 15px;
}
#footer .footer-container .col-md-4 .icon
{
    color: white;
    background-color: #F64A5F;
    border:  2px solid #F64A5F;
    padding: 15px 20px;
    border-radius: 50px;
    margin-right: 10px;
}
#footer .footer-container .col-md-4 .icon:hover
{
    cursor: pointer;
    background-color: black;
    border:  2px solid black;
}

/* Body */
.blog-content .content{
    color: #7f8c8d;
    font-size: 20px;
}

.blog-content .info{
    color: #f64a5f;
    font-size: 13px;
    font-weight: bold;
}

.blog-content .h2{
    color: black;
}

.img-post{
    object-fit: cover;
}

.blog-content .h2:hover{
    color: #f64a5f;
    text-decoration-line: none;
    text-decoration-color: transparent;
}

.read_more_btn{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;

    border: solid 2px #f64a5f;   
    color: black;
    border-radius: 30px;

    padding: 10px 30px;

    margin-top: 20px;
    margin-bottom: 40px;
    
    background-color: white;
}

.read_more_btn:hover{   
    color: white; 
    background-color: #f64a5f;
}


/* Smartphone - landscape ( nằm dọc ) */
@media screen and (min-width: 0px) and (max-width:414px){
    .img-post {
        margin-top: 20px;

        padding: 0;
        width: 300px;
        height: 300px;    
        
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .blog-content{    
        padding-top: 10px;
        padding-left: 10px; 
        text-align: justify; 
    }

    .blog-content .h2{
        font-weight: bold;
        font-size: 23px;
        text-align: center;

        margin-bottom: 20px;
    }

    .blog-content br{
        display: none;
    }

    .blog-content .side-indo{
        font-size: 15px;    
        text-align: center;    
    }

    .read_more_btn{
        margin-top: 5px;
        margin-bottom: 20px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Smartphone - portrait ( nằm ngang ) */
@media screen and (min-width: 415px) and (max-height: 760px){
    .img-post {                
        width: 200px;
        height: 180px;    
    }   

    .blog-content{    
        padding: 0; 
        width: 350px;
        text-align: justify; 
    }

    .blog-content .h2{
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        
    }

    .blog-content br{
        display: none;
    }

    .blog-content .content{
        color: #7f8c8d;
        font-size: 12px;
    }

    .blog-content .side-indo{
        font-size: 8px;    
        text-align: center;    
    }

    .read_more_btn{
        margin-top: 2px;
        margin-bottom: 10px;

        font-size: 12px;

        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Ipad - landscape ( nằm dọc ) */
@media screen and (min-width: 760.1px) and (max-width: 1023.9px){
    .img-post {        
        width: 300px;
        height: 240px;    
    }   

    .blog-content{    
        padding: 0; 
        width: 450px;
        text-align: justify; 
    }

    .blog-content .h2{
        font-weight: bold;        
        text-align: center;
        
    }

    .blog-content br{
        display: none;
    }

    .blog-content .content{
        color: #7f8c8d;
        font-size: 20px;
    }

    .blog-content .side-indo{
        font-size: 10px;    
        text-align: center;    
    }

    .read_more_btn{        
        margin-bottom: 5px;  
        font-size: 13px;  

        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Ipad - portrait ( nằm ngang ) và Ipad pro ( cỡ lớn ) */
@media screen and (min-width: 1023.99px) and (max-width: 1365.9px) { 
    .img-post {        
        width: 320px;
        height: 320px;    
    }   

    .blog-content{    
        padding: 0; 
        width: 450px;
        text-align: justify; 
    }

    .blog-content .h2{
        font-weight: bold;        
        text-align: center;        
    }

    .blog-content br{
        display: none;
    }

    .blog-content .content{
        color: #7f8c8d;
        font-size: 20px;
    }

    .blog-content .side-indo{
        font-size: 20px;        
        text-align: center;
    }

    .read_more_btn{        
        margin-bottom: 5px;  
        font-size: 20px;  

        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }   
}

/* Màn hình máy tính - ipad pro nằm ngang */
@media screen and (min-width: 1366px){
    .img-post {        
        width: 300px;
        height: 300px;    
        
        position: relative;
        left: 0%;
        transform: translateX(0%);
    }

    .blog-content{    
        padding-left: 20px;         
        text-align: justify; 
    }

    .blog-content .h2{
        font-size: 30px;

        font-weight: bold;        
        text-align: center;        
    }

    .blog-content br{
        display: block;
    }

    .blog-content .content{
        padding-top: 10px;
        padding-left: 20;  

        color: #7f8c8d;
        font-size: 20px;
    }

    .blog-content .side-indo{
        font-size: 20px;        
        text-align: left;
    }

    .read_more_btn{        
        margin-bottom: 5px;  
        font-size: 20px;  

        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }   
}
