html,body{
    height: 100%;
    width: 100%;

    font-family: "PT Serif", serif;
    text-align: center;
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

/* Css Header */
@media (min-width: 700px)
{
    #title_h1
    {
        font-size: 60px;
        font-weight: bold;
        letter-spacing:0.04rem;
        line-height:1.16;
    }
    #title_h5
    {
       margin-top: 25px;
       font-family: 'Poppins', sans-serif;
       font-size: 22px;
       font-weight: 300;
    
   
    }
    #title_btn
    {
        margin-top: 25px; 
        
        padding: 20px 51px!important;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: bold;
        border-radius: 45px;
        border-color:#f64a5f;
        background-color:#f64a5f;
    
        
    }
    #title_btn:hover
    {
        cursor: pointer;
        background-color:black;     
        border-color: black;   
    }    
}
@media (max-width: 700px)
{
    #title_h1
    {
        font-size: 30px;
        font-weight: bold;
        letter-spacing:0.04rem;
        line-height:1.16;
    }
    #tile_h5
    {
        margin-top: 25px;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 300;
    }
    #title_btn
    {
        margin-top: 25px; 
        
        padding: 20px 51px!important;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: bold;
        border-radius: 45px;
        border-color:#f64a5f;
        background-color:#f64a5f;
    
    }
    #title_btn:hover
    {
        cursor: pointer;
        background-color:black;     
        border-color: black;   
    }    
}
#header .header-container .nav-item
{
    font-size: 17px;
    font-weight: 400;
    letter-spacing:1px;
}
/* CSS header */

/* Css Footer */
#footer .footer-container .col-md-4
{
    border-right: solid 1.4px gray;
}
#footer .footer-container .card-body p
{
    font-size: 0.875rem;
    line-height: 1.714285;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0em;
    text-align: left;
    color: #757575;
}
#footer .footer-container .col-md-4 .footer-container-content
{
    list-style-type: none;
}
#footer .footer-container .col-md-4 .footer-container-content li
{
    margin-top: 18px;
    color: #f64a5f;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
#footer .footer-container .col-md-4 .footer-container-content li i
{
    font-size: 1rem;
    margin-top: 5px;
    margin-right: 16px;
    min-width: 15px;
}
#footer .footer-container .col-md-4 .icon
{
    color: white;
    background-color: #F64A5F;
    border:  2px solid #F64A5F;
    padding: 15px 20px;
    border-radius: 50px;
    margin-right: 10px;
}
#footer .footer-container .col-md-4 .icon:hover
{
    cursor: pointer;
    background-color: black;
    border:  2px solid black;
}
/* Css Footer */

/* CSS body */




#gallery-fone{    
    width: 100%;        
}

#content_2{
    margin-top: 50px;   
    margin-bottom: 100px; 
}

#content_2 .container .box .img-box{
    position: relative;
}

#content_2 .container .box .img-box img{
    max-width: 100%;
    transition: transform 2s;
}

#content_2 .container .box:hover .img-box img{
    transform: scale(1.2);
}
/* CSS body */

/* Smartphone - landscape ( nằm dọc ) */
@media screen and (min-width: 0px) and (max-width:414px){
    #gallery-tittle{
        font-size: 1.5cm;    
        font-weight: bold;
    }

    #gallery-des{
        font-size: 15px;

        margin-top: 20px;
        margin-bottom: 70px;
    }    

    #content_2 .container{
        width: 300px;    
        min-height: 50px;
        margin: auto;
        padding: 0;    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        
    }
    
    #content_2 .container .box{            
        margin: 5px auto;    
        width: 300px;
        height: auto;    
        object-fit: contain;
        overflow: hidden;
        box-sizing: border-box;
        display: inline-block;
    }
}

/* Smartphone - portrait ( nằm ngang ) */
@media screen and (min-width: 415px) and (max-height: 760px)
{   
   
    #content_2 .container{
        width: 550px;    
        min-height: 50px;
        margin: auto;
        padding: 0;    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        
    }
    
    #content_2 .container .box{            
        margin: 5px auto;    
        width: 260px;
        height: auto;    
        object-fit: contain;
        overflow: hidden;
        box-sizing: border-box;
        display: inline-block;
    }
}

/* Ipad - landscape ( nằm dọc ) */
@media screen and (min-width: 760.1px) and (max-width: 1023.9px){
    #gallery-des{
        font-size: 18px;

        margin-top: 20px;
        margin-bottom: 70px;
    }   

    #content_2 .container{
        width: 750px;    
        min-height: 50px;
        margin: auto;
        padding: 0;    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    
    #content_2 .container .box{            
        margin: 5px auto;    
        width: 240px;
        height: auto;    
        object-fit: contain;
        overflow: hidden;
        box-sizing: border-box;
        display: inline-block;
    }
}

/* Ipad - portrait ( nằm ngang ) và Ipad pro ( cỡ lớn ) */
@media screen and (min-width: 1023.99px) and (max-width: 1365.9px) {
    #gallery-des{
        font-size: 20px;

        margin-top: 20px;
        margin-bottom: 50px;
    }   

    #content_2 .container{
        width: 1000px;    
        min-height: 50px;
        margin: auto;
        padding: 0;    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    
    #content_2 .container .box{            
        margin: 5px auto;    
        width: 320px;
        height: auto;    
        object-fit: contain;
        overflow: hidden;
        box-sizing: border-box;
        display: inline-block;
    }
}

/* Màn hình máy tính - ipad pro nằm ngang */
@media screen and (min-width: 1366px){
    #gallery-des{
        font-size: 20px;

        margin-top: 20px;
        margin-bottom: 70px;
    }   

    #content_2 .container{
        width: 920px;    
        min-height: 50px;
        margin: auto;
        padding: 0;    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #content_2 .container .box{            
        margin: 2px;    
        width: 300px;
        height: auto;    
        object-fit: contain;
        overflow: hidden;
        box-sizing: border-box;
        display: inline-block;
    }
}
